:root {
  --corinto: #800000;
  --verde-oscuro: #013220;
}
.bg-corinto {
  background-color: var(--corinto) !important;
  color: #fff !important;
}
.bg-verde-oscuro {
  background-color: var(--verde-oscuro) !important;
  color: #fff !important;
}
.btn-corinto {
  background-color: var(--corinto) !important;
  color: #fff !important;
  border: none;
}
.btn-corinto:hover, .btn-corinto:focus {
  background-color: #660000 !important;
  color: #fff !important;
}
.btn-verde-oscuro {
  background-color: var(--verde-oscuro) !important;
  color: #fff !important;
  border: none;
}
.btn-verde-oscuro:hover, .btn-verde-oscuro:focus {
  background-color: #011a11 !important;
  color: #fff !important;
}
.border-corinto {
  border-color: var(--corinto) !important;
}
.border-verde-oscuro {
  border-color: var(--verde-oscuro) !important;
}
.bg-white {
  color: #212529 !important; /* corrige la letras blancas*/
}

.dron-regando { background-color: #cce5ff; border: 2px solid #007bff; }
.dron-moviendo { background-color: #e6ffe6; border: 2px solid #28a745; }
.dron-esperando { background-color: #fff3cd; border: 2px solid #ffc107; }
.dron-fin { background-color: #f2f2f2; border: 2px solid #888; }